@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

h1 {
    font-size: 2rem;
    margin-bottom: 30px;
    font-weight: 600;
    color: #444;
    text-align: center;
}

.search-form {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    width: 400px;
    padding: 5px;
    margin-bottom: 20px;
}

.icon-wrapper {
    padding: 10px;
    border-right: 1px solid #ccc;
}

.icon {
    width: 20px;
    height: 20px;
    fill: #888;
}

.search-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #333;
}

.search-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #45a049;
}

.search-result {
    width: 80%;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #7808d0;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
    display:none;
    margin:50px;
}

.button:hover {
    background-color: #5305a0;
}

.button__icon-wrapper {
    display: inline-block;
    margin-right: 10px;
}

.button__icon-svg {
    fill: currentColor;
    vertical-align: middle;
}

.button__icon-svg--copy {
    display: none;
}

/* .search-result{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap;
}
.search-result img {
    aspect-ratio:16/9;
    width:100%;
    object-fit:contain;
} */

.search-result {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjusts dynamically to the available space */
    gap:8px ; /* No space between images */
    padding: 0; /* Remove padding */
    align-items: stretch; /* Stretch the items to fill the grid cell */
    align-content:center;
}

.search-result img {
    width: 100%; /* Ensures the image takes the full width of the grid item */
    height: 300px; /* Fixed height for uniform shape */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for better visuals */
    object-fit: cover; /* Ensures all images fill their grid cell without leaving gaps */
}
